// System
spawn-at-startup "dbus-update-activation-environment" "--systemd" "--all"

// Daemons
spawn-at-startup "swayidle"
spawn-at-startup "swaybg" "-i" "/home/aanwidiant/.config/theme/current/background"

// Bar & Notification
spawn-at-startup "waybar"
spawn-at-startup "mako"

// Greeting
spawn-at-startup "my-launch-greeting"

// Audio & OSD
spawn-at-startup "swayosd-server"

// Clipboard
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"

// Authentication Agent
spawn-at-startup "/run/current-system/sw/libexec/polkit-gnome-authentication-agent-1"

// Use a custom build of xwayland-satellite.
xwayland-satellite {
    path "/run/current-system/sw/bin/xwayland-satellite"
}
