input {
    keyboard {
        xkb {
            layout "us"
        }

        repeat-rate 40
        repeat-delay 600

        numlock
    }

    touchpad {
        natural-scroll
        scroll-factor 0.9
        tap
        tap-button-map "left-right-middle"
        dwt
        accel-speed 1.0
        accel-profile "adaptive"
    }

    mouse {
        accel-speed 1.0
    }

    trackpoint {
        accel-speed 0.5
        natural-scroll
    }

    focus-follows-mouse max-scroll-amount="0%"
}
