include "/home/aanwidiant/nixos-config/dotfiles/theme/current/theme/niri.kdl"

layout {
    gaps 8

    default-column-width { proportion 0.66667; }

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    border {
        off
    }
}

blur {
    passes 3
    offset 3.0
    noise 0.02
    saturation 1.5
}
