// Cursor
cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 16
    hide-when-typing
    hide-after-inactive-ms 1000
}

// GUM environment variables
environment {
    GUM_CONFIRM_PROMPT_FOREGROUND "6"
    GUM_CONFIRM_SELECTED_FOREGROUND "0"
    GUM_CONFIRM_SELECTED_BACKGROUND "2"
    GUM_CONFIRM_UNSELECTED_FOREGROUND "0"
    GUM_CONFIRM_UNSELECTED_BACKGROUND "8"
}
