# Direnv
.direnv
.envrc

# Nix build results
result
result-*

# Flake backup / temp
*.drv
*.lock.old

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store

# Logs
*.log

# folder and file secrets
dotfiles/theme/current/
secrets/
