binds {
    Mod+Return {
        spawn "kitty";
    }

    Mod+Shift+F {
        spawn-sh "~/.local/bin/my-launch-or-focus thunar";
    }

    Mod+Shift+B {
        spawn-sh "~/.local/bin/my-launch-browser"
    }

    Mod+Shift+Alt+B {
        spawn-sh "~/.local/bin/my-launch-browser --private";
    }

    // Editor
    Mod+Shift+E {
        spawn "zeditor";
    }

    Mod+Shift+N {
        spawn "kitty" "-e" "nvim";
    }

    // System tools
    Mod+Shift+T {
        spawn-sh "~/.local/bin/my-launch-or-focus-tui btop";
    }

    Mod+Alt+T {
        spawn-sh "~/.local/bin/my-launch-or-focus-tui htop";
    }

    Mod+Shift+D {
        spawn-sh "~/.local/bin/my-launch-or-focus-tui lazydocker";
    }

    Mod+Alt+D {
        spawn-sh "~/.local/bin/my-launch-or-focus-tui ncdu";
    }

    Mod+Shift+A {
        spawn-sh "~/.local/bin/my-launch-about";
    }

    Mod+Ctrl+W {
        spawn-sh "~/.local/bin/my-webcam";
    }

    Mod+Alt+W {
        spawn-sh "~/.local/bin/my-launch-webapp brave-browser --app=https://web.whatsapp.com/";
    }

    Mod+Shift+M {
        spawn-sh "~/.local/bin/my-launch-or-focus geary";
    }

    // Special/media keys
    XF86Display {
        spawn-sh "~/.local/bin/my-launch-or-focus nwg-displays";
    }

    XF86WLAN {
        spawn-sh "~/.local/bin/my-launch-or-focus thunar";
    }

    XF86NotificationCenter {
        spawn-sh "~/.local/bin/my-launch-or-focus dbgate";
    }

    XF86PickupPhone {
        spawn-sh "~/.local/bin/my-launch-or-focus bruno";
    }

    XF86HangupPhone {
        spawn-sh "~/.local/bin/my-launch-browser";
    }

    XF86Favorites {
        spawn "zeditor";
    }
}
