binds {
    Mod+Return {
        spawn "kitty";
    }

    Mod+Shift+F {
        spawn "my-launch-or-focus" "thunar";
    }

    Mod+Shift+B {
        spawn-sh "my-launch-browser";
    }

    Mod+Shift+Alt+B {
        spawn "my-launch-browser" "--private";
    }

    // Editor
    Mod+Shift+E {
        spawn "zeditor";
    }

    // System tools
    Mod+Shift+T {
        spawn "my-launch-or-focus-tui" "btop";
    }

    Mod+Alt+T {
        spawn "my-launch-or-focus-tui" "htop";
    }

    Mod+Shift+D {
        spawn "my-launch-or-focus-tui" "lazydocker";
    }

    Mod+Alt+D {
        spawn "my-launch-or-focus-tui" "ncdu";
    }

    Mod+Shift+A {
        spawn "my-launch-about";
    }

    Mod+Ctrl+W {
        spawn "my-webcam";
    }

    Mod+Alt+W {
        spawn "my-launch-webapp" "brave-browser" "--app=https://web.whatsapp.com/";
    }

    Mod+Shift+M {
        spawn "my-launch-or-focus" "geary";
    }

    // Special/media keys
    XF86Display {
        spawn "my-launch-or-focus" "nwg-displays";
    }

    XF86WLAN {
        spawn "my-launch-or-focus" "thunar";
    }

    XF86NotificationCenter {
        spawn "my-launch-or-focus" "dbgate";
    }

    XF86PickupPhone {
        spawn "my-launch-or-focus" "bruno";
    }

    XF86HangupPhone {
        spawn "my-launch-browser";
    }

    XF86Favorites {
        spawn "zeditor";
    }
}
