binds {
    // Volume
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "swayosd-client" "--output-volume" "raise";
    }

    XF86AudioLowerVolume allow-when-locked=true {
        spawn "swayosd-client" "--output-volume" "lower";
    }

    XF86AudioMute allow-when-locked=true {
        spawn "swayosd-client" "--output-volume" "mute-toggle";
    }

    XF86AudioMicMute allow-when-locked=true {
        spawn "my-toggle-mic";
    }

    // Brightness
    XF86MonBrightnessUp {
        spawn "swayosd-client" "--brightness" "raise";
    }

    XF86MonBrightnessDown {
        spawn "swayosd-client" "--brightness" "lower";
    }

    // Precise adjustments
    Alt+XF86AudioRaiseVolume {
        spawn "swayosd-client" "--output-volume" "+1";
    }

    Alt+XF86AudioLowerVolume {
        spawn "swayosd-client" "--output-volume" "-1";
    }

    Alt+XF86MonBrightnessUp {
        spawn "swayosd-client" "--brightness" "+1";
    }

    Alt+XF86MonBrightnessDown {
        spawn "swayosd-client" "--brightness" "-1";
    }
}
