@import "/home/aanwidiant/.config/theme/current/theme/wofi.css";

window {
    font-family: "JetBrainsMono Nerd Font";
    margin: 0;
    border-radius: 6px;
    background-color: @background;
    color: @text;
}

#outer-box {
    margin: 12px;
}

#input {
    margin-bottom: 10px;
    padding: 2px 8px;
    border: none;
    border-radius: 6px;
    background-color: @base;
    color: @text;
    font-size: 12px;
}

#entry {
    padding: 8px 10px;
    border-radius: 8px;
    background-color: transparent;
    color: @text;
}

#entry:selected {
    background-color: @base;
    color: @selected-text;
}
