[Desktop Entry]
Name=Calendar
Comment=TUI Calendar
Exec=my-launch-or-focus-tui calcure
Icon=x-office-calendar
Terminal=false
Type=Application
Categories=Utility;
