[Desktop Entry]
Name=Docker
Comment=Terminal UI for Docker (lazydocker)
Exec=my-launch-or-focus-tui lazydocker
Icon=docker
Terminal=false
Type=Application
Categories=Utility;
