[Desktop Entry]
Name=System Processes
Comment=Terminal UI for System Processes (htop)
Exec=my-launch-or-focus-tui htop
Icon=/home/aanwidiant/.local/share/applications/icons/process.png
Terminal=false
Type=Application
Categories=Utility;
